.country,
.dark {
  height: 40px;

  width: auto;
  background-color: #a0aef53c;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  transition: 0.4s;

  &.dark {
    background-color: #a0aef565;
  }

  #world {
    text-decoration: underline;
    color: #5068e0 !important;
    margin: auto;
    padding: 3px;

    transition: 0.1s;
    &:hover {
      color: #0026ff;
    }
  }
  button {
    text-decoration: underline;
    color: #5068e0;
    font-weight: 700;
    width: auto;
    background-color: transparent;
    border: none;
    padding: none;
    outline-color: #5068e0;
    margin: auto;
    text-align: center;

    transition: 0.2s;
    &:hover {
      color: #0026ff;

      font-size: 15px;
    }
    &:active {
      color: rgb(40, 184, 40);
    }
  }
  span {
    font-size: 12px;

    text-align: center;

    width: 25%;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .countEnd {
    font-weight: 750;
  }
  .end {
    &:nth-child(3) {
      color: #e23030;
      cursor: unset;
      font-weight: 700;
    }
    &:nth-child(2) {
      color: #1289e8;
      cursor: unset;
      font-weight: 700;
    }
    &:nth-child(4) {
      color: #28a745;
      cursor: unset;
      font-weight: 700;
    }
    &:nth-child(5) {
      color: #f7ab13;
      cursor: unset;
      font-weight: 700;
    }
    &:nth-child(6) {
      color: #ff7b00;
      cursor: unset;
      font-weight: 700;
    }
    &:nth-child(7) {
      color: #964fff;
      cursor: unset;
      font-weight: 700;
    }
  }
}

.img {
  width: 40px;
  margin-left: 2px;
  img {
    width: 100%;

    min-height: 20px;
  }
}
