.input{
    width: 100%;
    input{
        width: 100%;
        min-height: 40px;
        border:solid 0.2px #3F51B5 !important;
        background-color: transparent;
        outline-color: rgb(88, 112, 246);
        color:#898989;
       
    }
}