.barChart {
  background-color: white;
  box-shadow: -1px 8px 11px -8px rgba(11, 0, 0, 0.63);
  margin-bottom: 10px;
  p {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
  }
}
.legend {
  font-size: 14px;
  font-weight: 500;
}
