.spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  h4 {
    color: #5068e0;
    margin-top: 1%;
  }
}
