.infos {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;

  padding-left: 5%;
  @media (max-width: 380px) {
    align-items: center;
  }
  @media (max-width: 780px) {
    font-size: 14px;
    text-align: center;
    align-items: center;
  }

  @media (min-width: 1024px) {
    padding: 10%;
    text-align: center;
    // margin-top: 20px;
  }

  div {
    color: #898989;
    font-size: 13px;
    // display: flex;
    // justify-content: space-between;
    // justify-items: flex-start;
    padding: 5px;
    span {
      color: #5068e0;
      padding-left: 10px;
      @media (max-width: 380px) {
        font-size: 12px;
      }
    }
    @media (max-width: 380px) {
      font-size: 12px;
      text-align: center;
    }
  }
}
