.infos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  justify-items: start;

  @media (max-width: 380px) {
    align-items: center;
  }
  @media (max-width: 800px) {
    font-size: 14px;
    text-align: center;
    align-items: center;
  }

  @media (min-width: 1024px) {
    padding: 0 5% 5% 5%;
    text-align: center;
    margin-top: 20px;
  }
  .spans {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #3d3d3d;
    text-align: center;
    font-size: 12px;
    align-items: center;
    padding-bottom: 5%;
    // background-color: aqua;

    .infoSection {
      // color: #898989;
      // font-size: 13px;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      // padding: 5px;

      @media (max-width: 380px) {
        font-size: 12px;
        text-align: center;
      }
    }
    .infoSpan {
      color: #5068e0;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      // padding-left: 10px;
      @media (max-width: 380px) {
        font-size: 12px;
      }
    }
  }
}
