.donut {
  width: 100%;
  @media (max-width: 800px) {
    width: 60%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  // overflow-x: hidden;
}
.donutcontainer {
  // transform: translateX(-20%);
  // @media (max-width: 380px) {
  //   transform: translateX(-0%);
  // }
  // @media (max-width: 800px) {
  //   transform: translateX(-2%);
  // }
  // @media (min-width: 1024px) {
  //   transform: translateX(-6%);
  //   width: 110%;
  // }
}
