.country {
  height: 40px;
  color: #dbdbdb !important;
  text-align: center;
  width: auto;
  font-size: 14px;
  display: flex;

  align-items: center;
  justify-items: center;
  justify-content: space-between;
  border-bottom: solid 0.2px #898989;

  transition: 0.4s;

  .world {
    text-decoration: underline;

    margin: auto;
    color: "#5068e0";
    font-weight: 750;

    width: 25%;

    transition: 0.1s;
    &:hover {
      color: #6276e6;
    }
  }

  span {
    font-size: 12px;
    text-align: center;
    width: 25%;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
  .countEnd {
    font-weight: 750;
    text-align: center;
  }
  .end {
    &:last-of-type {
      color: #28a745;
      cursor: unset;
    }
    &:nth-child(3) {
      color: #e23030;
      cursor: unset;
    }
    &:nth-child(2) {
      color: #1289e8;
      cursor: unset;
    }
  }
}
