.overlay {
  position: fixed; /* Sit on top of the page content */
  //   display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626ab; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  //   cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fade-in-fwd 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.span {
  color: rgba(255, 255, 255, 0.926);
  font-size: 15px;
  font-weight: 600;
}
.spinners {
  margin-top: 1%;
  width: 60px;
  display: flex;
  justify-content: space-around;
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
