.barChart {
  height: max-content;
  background-color: white;

  margin-top: 20px;
  padding-bottom: 2%;
  text-align: center;
  p {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
  }
}
