.barChart {
  height: max-content;
  background-color: white;
  // box-shadow: -1px 8px 11px -8px rgba(11, 0, 0, 0.63);
  margin-top: 20px;
  padding-bottom: 2%;
  text-align: center;
  p {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
  }
}
