.card {
  width: 100%;
  height: auto;
  display: flex;
  // flex-direction: column;
  min-height: 100px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 1% 5% 1% 5%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  // border: solid 0.1px #dde4eb;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // background-color: blue;
}
.label {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  @media (max-width: 1024px) {
    font-size: 12px;
  }
}
.countup {
  color: #5068e0;
  font-size: 15px;
  font-weight: 650;

  @media (max-width: 400px) {
    font-size: 30px;
  }
}
.badge {
  font-size: 10px;
  font-weight: 700;
  width: 50px;
  margin-top: 2%;
  animation: scale-in-hor-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
}
.description {
  color: #898989;
  font-size: 16px;
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
