.flags {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20% 0 20%;
  color: #3f51b5;
  font-size: 15px;
  margin-top: 2%;
  font-weight: 600;
  span img {
    max-height: 45px;
  }
}
