.errorMsg {
  width: 100%;
  height: 100%;

  display: flex;
  background-color: grey;
  align-items: center;
  justify-items: center;
  justify-content: center;

  span {
    font-size: 13px;
    font-weight: 600;
    color: #3f51b5;
  }
}
