.App {
  text-align: center;
   scroll-behavior: smooth;
}
#main-title {
  color: #898989;
  font-size: 22px;
  width: 100%!important;
  text-align: center!important;
  padding: 20px 0 20px 0 !important;
  
}

  @media (max-width: 380px) {
    span {
      font-size: 15px;
      text-align: center;
    }
  }
  .apexcharts-tooltip {
    background: #130a0aa1;
    color: #898989;
    font-size: 12px;
  }
  .apexcharts-tooltip span{
    
    font-size: 12px!important;
    color: #ebebeb!important;
  }
  @media(max-width:390px){
    .apexcharts-tooltip{
      font-size: 10px !important;
    }
    .apexcharts-tooltip span{
      font-size: 10px!important;
    }
  }
.tabhead {
  height: 40px;
  color: #898989 !important;
  width: 90%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.tabhead span {
  font-size: 14px;
  text-align: center;
  width: 25%;
}
.country {
  height: 40px;
  color: #dbdbdb !important;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  border-bottom: solid 0.2px #898989;
  transition: 0.4s;
 
}
.country #world{
  background-color:#3F51B5;
  margin: auto;
  padding: 3px;
  border:solid 0.4px #323f889d;
  border-radius: 4px;
  transition: 0.1s;
}
.country #world:hover{
  background-color: #6276e6;
  color: aliceblue;
  box-shadow: 0px 0px 3px 1px rgb(129, 152, 251);
  border:solid 0.4px #5674d8;
  
  width:30%;
}
.country a{
  text-decoration: none;
  color: #dbdbdb;
  width: 25%;
  background-color:#3F51B5;
  border:solid 0.4px #323f889d;
  border-radius: 4px;
  margin: auto;
  text-align: center;
  
transition: 0.1s;
}
.country a:hover{
  background-color: #6276e6;
  color: aliceblue;
  box-shadow: 0px 0px 3px 1px rgb(129, 152, 251);
  border:solid 0.4px #5674d8;
  width:30%;
}
.country a:active{
  color: rgb(40, 184, 40);
}
.country span {
  font-size: 12px;
  text-align: center;
  width: 25%;
  cursor: pointer;
 
}
.country span:hover {
  /* color: #5068e0; */
  text-decoration: none;
}
.country  .end:last-of-type {
  color: green;
  cursor: unset;
}
.country .end:nth-child(3) {
  color: #e23030;
  cursor: unset;
}
.country .end:nth-child(2) {
  color: #1289e8;
  cursor: unset;
}
.country .countEnd{
  font-weight: 750;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#footer{
  width: 100%;
  margin-top: 60px;
  display:flex;
  justify-content: space-between;
}

#update {
  color: #898989 !important;
  font-size: 15px;

}
@media(max-width:390px){
  #update{

    font-size: 12px;
  }
  #footer{
    flex-direction: column;
    text-align: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
