.App {
  text-align: center;
  scroll-behavior: smooth;
}
#main-title {
  color: #898989;
  font-size: 22px;
  width: 100% !important;
  text-align: center !important;
  padding: 20px 0 20px 0 !important;
}

@media (max-width: 380px) {
  span {
    font-size: 15px;
    text-align: center;
  }
}
.apexcharts-tooltip {
  background: #130a0aa1;
  color: #898989;
  font-size: 12px;
  span {
    font-size: 12px !important;
    color: #ebebeb !important;
  }
  @media (max-width: 390px) {
    .apexcharts-tooltip {
      font-size: 10px !important;
    }
    .apexcharts-tooltip span {
      font-size: 10px !important;
    }
  }
}

.tabhead {
  height: 40px;
  color: #898989 !important;
  width: 90%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  span {
    font-size: 14px;
    text-align: center;
    width: 25%;
  }
}

.country {
  height: 40px;
  color: #dbdbdb !important;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  border-bottom: solid 0.2px #898989;
  transition: 0.4s;

  #world {
    text-decoration: underline;

    margin: auto;
    padding: 3px;

    transition: 0.1s;
    &:hover {
      color: #6276e6;
    }
  }
  a {
    text-decoration: underline;
    color: #dbdbdb;
    width: auto;

    margin: auto;
    text-align: center;

    transition: 0.2s;
    &:hover {
      color: #6276e6;

      font-size: 15px;
    }
    &:active {
      color: rgb(40, 184, 40);
    }
  }
  span {
    font-size: 12px;
    text-align: center;
    width: 25%;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .countEnd {
    font-weight: 750;
  }
  .end {
    &:last-of-type {
      color: green;
      cursor: unset;
    }
    &:nth-child(3) {
      color: #e23030;
      cursor: unset;
    }
    &:nth-child(2) {
      color: #1289e8;
      cursor: unset;
    }
  }
}

// .country .end:last-of-type {
//   color: green;
//   cursor: unset;
// }
// .country .end:nth-child(3) {
//   color: #e23030;
//   cursor: unset;
// }
// .country .end:nth-child(2) {
//   color: #1289e8;
//   cursor: unset;
// }

#footer {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

#update {
  color: #898989 !important;
  font-size: 15px;
}
@media (max-width: 390px) {
  #update {
    font-size: 12px;
  }
  #footer {
    flex-direction: column;
    text-align: center;
  }
}
