@use '../navbar/navbar.module.scss' as style;
.footer {
  background-color: #3f51b596;
  margin-top: 150px;

  width: 100%;
  border-top: solid #2d4af3;
  bottom: 0;
}
.copyRight {
  background-color: #2d4af3;
  width: 100%;
  @include style.centeredFlex;

  justify-content: center;

  height: 50px;
  color: #cacaca;
  font-size: 16px;
  font-weight: 500;
}
.links {
  @include style.centeredFlex;
  justify-content: space-between;
  padding: 0 30% 0 33%;
  //   background-color: grey;

  @media (max-width: 450px) {
    padding: 0;
    flex-direction: column !important;
    height: 300px;
  }
}
a {
  color: #2d4af3;
  &:hover {
    color: #5068e0;
  }
}
